.app-panel-notifications {

  .mat-dialog-container {
    padding: 0;
    // width: 85vw !important; ///parametro ajustable

    .mat-toolbar {
      flex: 1 0 auto;
      min-height: initial;
    }


    .toolbar-bottom {
      height: auto;
    }
  }

  .dialog-content-wrapper {
    max-height: 98vh;
    max-width: 95vw;
    width: 32vw;
    display: flex;
    flex-direction: column;
    width: 50vw !important;

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 85vw !important;

    }

    @media (min-width: 320px) and (max-width: 480px) {
      width: 90vw !important;
    }

  }

  .cdk-overlay-pane {
    width: 100%;
    height: 100%;
  }


  @media(max-width: 1000px) {
    .cdk-overlay-pane {
      width: 100%;
      height: 100%;
    }
  }

  .mat-dialog-actions {
    padding: 24px 24px;
    display: flex !important;
    flex-wrap: wrap !important;
    margin-bottom: 0px !important;
    background: #fafafa;
  }

  .my-dialog-content {
    padding: 24px !important;
    background: #fafafa;
    margin: 0px !important;
  }

  .mat-dialog-content {
    display: block;
    // margin: 0 -24px;
    // padding: 0 24px;
    max-height: 76vh;
    overflow: auto;
  }
}
