@import '../../../../assets/styles/variable';

:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  // &:hover {
  //   background-color: $grey-700;
  // }

}

.mat-list-item {
  padding: 2px 0;
  display: flex;
  width: auto;
  color: $grey-700;

  .routeIcon {
    margin-right: 30px;
  }
}

.menu-icons {
  font-size: 18px !important;

  mat-icon {
    color: $grey-700;
    margin: 0px !important
  }

  fa-icon {
    padding-right: 10px !important;
  }
}
